@import url(../sass/plantilla-general.scss);
.formulario-contact {
  margin-top: 50%;
  padding: 1rem 0.7rem 2rem 0.7rem;
  background-color: #0156b8;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  border-radius: 2rem;
}
.formulario-contact .estructura-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "";
  font-family: "";
  font-family: "";
}
.formulario-contact .estructura-formulario .titulo {
  color: white;
  font-size: 4vh;
}
.formulario-contact .estructura-formulario .nombre {
  width: 40vw;
  height: 5vh;
  color: white;
  background-color: #0156b8;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 2rem;
  transition: background-color ease-in 0.2s, color linear 0.1s;
}
.formulario-contact .estructura-formulario .nombre:hover {
  background-color: rgb(250, 250, 250);
  color: black;
  transition: background-color ease-out 0.6s, color linear 0.1s;
}
.formulario-contact .estructura-formulario .nombre::-moz-placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .nombre::placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .nombre:hover::-moz-placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .nombre:hover::placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .correo {
  width: 40vw;
  height: 5vh;
  color: white;
  background-color: #0156b8;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 2rem;
  transition: background-color ease-in 0.2s, color linear 0.1s;
}
.formulario-contact .estructura-formulario .correo:hover {
  background-color: rgb(250, 250, 250);
  color: black;
  transition: background-color ease-out 0.6s, color linear 0.1s;
}
.formulario-contact .estructura-formulario .correo::-moz-placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .correo::placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .correo:hover::-moz-placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .correo:hover::placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .numero {
  width: 40vw;
  height: 5vh;
  max-width: 40vw;
  color: white;
  background-color: #0156b8;
  border-radius: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  transition: background-color ease-in 0.2s, background-color ease-in 0.2s;
}
.formulario-contact .estructura-formulario .numero:hover {
  background-color: rgb(250, 250, 250);
  color: black;
  transition: background-color ease-out 0.6s, color linear 0.1s;
}
.formulario-contact .estructura-formulario .numero::-moz-placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .numero::placeholder {
  color: rgb(107, 140, 179);
  font-size: 2rem;
  padding-left: 1rem;
}
.formulario-contact .estructura-formulario .numero:hover::-moz-placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .numero:hover::placeholder {
  color: rgb(0, 0, 0);
}
.formulario-contact .estructura-formulario .enviar {
  width: 10rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  background-color: rgba(0, 255, 0, 0);
  border-radius: 20rem;
  color: white;
  font-size: 1.4rem;
}
.formulario-contact .estructura-formulario .enviar:hover {
  background-color: white;
  color: black;
}

@media (min-width: 600px) and (max-width: 949px) {
  .formulario-contact {
    padding: 1rem 0.7rem 2rem 0.7rem;
    background-color: #0156b8;
    align-self: flex-end;
    margin-top: 30%;
    position: absolute;
    right: 3vw;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 2rem;
  }
  .formulario-contact .estructura-formulario {
    font-family: "";
    font-family: "";
    font-family: "";
  }
  .formulario-contact .estructura-formulario .nombre {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 2rem;
    transition: background-color ease-in 0.2s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .nombre:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .nombre::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .nombre::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .nombre:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .nombre:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .correo {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 2rem;
    transition: background-color ease-in 0.2s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .correo:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .correo::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .correo::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .correo:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .correo:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .numero {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: background-color ease-in 0.2s, background-color ease-in 0.2s;
  }
  .formulario-contact .estructura-formulario .numero:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .numero::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .numero::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .numero:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .numero:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .enviar {
    width: 20vw;
  }
}
@media (min-width: 950px) and (max-width: 1024px) {
  .formulario-contact {
    align-self: center;
    z-index: -3;
    position: absolute;
    left: 45vw;
    margin-top: 10%;
    width: 40vw;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 2rem;
  }
  .formulario-contact .estructura-formulario {
    font-family: "";
    font-family: "";
    font-family: "";
  }
  .formulario-contact .estructura-formulario .nombre {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 2rem;
    transition: background-color ease-in 0.2s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .nombre:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .nombre::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .nombre::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .nombre:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .nombre:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .correo {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 2rem;
    transition: background-color ease-in 0.2s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .correo:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .correo::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .correo::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .correo:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .correo:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .numero {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: #0156b8;
    border-radius: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: background-color ease-in 0.2s, background-color ease-in 0.2s;
  }
  .formulario-contact .estructura-formulario .numero:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    transition: background-color ease-out 0.6s, color linear 0.1s;
  }
  .formulario-contact .estructura-formulario .numero::-moz-placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .numero::placeholder {
    color: rgb(107, 140, 179);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .formulario-contact .estructura-formulario .numero:hover::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .numero:hover::placeholder {
    color: rgb(0, 0, 0);
  }
  .formulario-contact .estructura-formulario .enviar {
    width: 20vw;
  }
}
@media (min-width: 1025px) {
  .formulario-contact {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
    margin-top: 14%;
  }
}
@media (min-width: 950px) and (min-height: 900px) {
  .formulario-contact {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 20%;
  }
}/*# sourceMappingURL=contacto.css.map */