$bg-formulario:#0156b8;
$padding-left-text-form:1rem;

@import url(../sass/plantilla-general.scss);

@mixin titulo{
    .titulo{
        color: white;
        font-size: 4vh;
    }
}

@mixin btn-enviar{
    .enviar{
        width: 10rem;
        height: fit-content;
        padding: .5rem;
        background-color: rgb(0, 255, 0,0);
        border-radius: 20rem;
        color: white;
        font-size: 1.4rem;
    }

    .enviar:hover{
        background-color: white;
        color: black;
    }
}


@mixin datos-rellenar{
    $contador: 0;
    @each $name in nombre, correo, numero{
        font-family: "";
        @if $name == "numero" {
            .#{$name} {
                width: 40vw;
                height: 5vh;

                max-width: 40vw;

                color: white;
                background-color: $bg-formulario;
                border-radius: 5rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                font-size: 1.5rem;
                padding: .5rem;
                padding-left: 2rem;
                transition:background-color ease-in 0.2s, background-color ease-in 0.2s;
            }
        } @else {
            .#{$name} {
                width: 40vw;
                height: 5vh;
                color:white;
                background-color: $bg-formulario;
                border-radius: 5rem;
                font-size: 1.5rem;
                padding: .5rem;
                padding-left: 2rem;

                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                margin-bottom: 2rem;
                transition: background-color ease-in 0.2s, color linear 0.1s;
            }
        }

        .#{$name}:hover{
            background-color: rgb(250, 250, 250);
            color: black;
            transition: background-color ease-out 0.6s, color linear 0.1s;
        }

        .#{$name}::placeholder{
            color: rgb(107, 140, 179);
            font-size: 2rem;
            padding-left: $padding-left-text-form;
        }

        .#{$name}:hover::placeholder{
            color: rgb(0, 0, 0);
        }
    }
}

@mixin componentes(){
    @include titulo();
    @include datos-rellenar();
    @include btn-enviar();
}


@mixin structure-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include componentes();
}

@mixin estilo-formulario{
    margin-top: 50%;
    padding: 1rem 0.7rem 2rem 0.7rem;
    background-color: $bg-formulario;
    align-self: center;
    height: fit-content;
    width: 80%;
    border-radius: 2rem;
}

.formulario-contact{
    @include estilo-formulario();
    
    .estructura-formulario{
        @include structure-form();
    }
}

///----------------------------------------------------------------///

@mixin estilo-formulario-tablet{
    padding: 1rem 0.7rem 2rem 0.7rem;
    background-color: $bg-formulario;
    align-self: flex-end;
    margin-top: 30%;

    position: absolute;

    right: 3vw;
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
}

@mixin estilo-formulario-tablet-grande{
    align-self: center;
    z-index: -3;

    position: absolute;

    left: 45vw;
    // bottom: 20vh;
    margin-top: 10%;
    width: 40vw;
    height: fit-content;
    border-radius: 2rem;
}

@mixin datos-rellenar-tablet{
    $contador: 0;
    @each $name in nombre, correo, numero{
        font-family: "";
        @if $name == "numero" {
            .#{$name} {
                width: 30vw;
                height: 5vh;
                color: white;
                background-color: $bg-formulario;
                border-radius: 5rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                font-size: 1.5rem;
                padding: .5rem;
                transition:background-color ease-in 0.2s, background-color ease-in 0.2s;
            }
        } @else {
            .#{$name} {
                width: 30vw;
                height: 5vh;
                color:white;
                background-color: $bg-formulario;
                border-radius: 5rem;
                font-size: 1.5rem;
                padding: .5rem;

                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                margin-bottom: 2rem;
                transition: background-color ease-in 0.2s, color linear 0.1s;
            }
        }

        .#{$name}:hover{
            background-color: rgb(250, 250, 250);
            color: black;
            transition: background-color ease-out 0.6s, color linear 0.1s;
        }

        .#{$name}::placeholder{
            color: rgb(107, 140, 179);
            font-size: 2rem;
            padding-left: $padding-left-text-form;
        }

        .#{$name}:hover::placeholder{
            color: rgb(0, 0, 0);
        }
    }
}




@mixin esctructura-tablet{
    .formulario-contact{
        @include estilo-formulario-tablet();

        .estructura-formulario{
            @include datos-rellenar-tablet();

            .enviar{
                width: 20vw;
            }
        }
    }
}

@mixin esctructura-tablet-grande{
    .formulario-contact{
        @include estilo-formulario-tablet-grande();

        .estructura-formulario{
            @include datos-rellenar-tablet();

            .enviar{
                width: 20vw;
            }
        }
    }
}





@media (min-width:600px) and (max-width:949px) {
    @include esctructura-tablet();
}

@media (min-width:950px) and (max-width:1024px) {
    @include esctructura-tablet-grande();
}

@media(min-width:1025px) {
    .formulario-contact{
        width: fit-content;
        padding: 1rem;
        margin-top: 14%;
    }
}



@media (min-width:950px) and (min-height:900px){
    .formulario-contact{
        width: fit-content;
        margin-top: 20%;
    }
}


